{% extends "base.html" %}
{% load staticfiles %}
{% load video_id %}

{% block content %}
    <h1 class="page-header">{{ title }}</h1>
    <br />
    <div id="page" class="fluid-container">
        <div id="content" class="col-xs-12 col-sm-9">
            <div class="fluid-container">
            <div v-if="channels.length > 0">
                <div class="col-xs-12 col-sm-6" v-for="channel in channels">
                    <div class="content-box-live">
                        <div class="intrinsic-container intrinsic-container-4x3">
                            <div v-bind:id="playerIds[channel]"></div>
                        </div>
                        <br />
                        <p>
                            <a class="btn btn-primary" v-bind:href="channel">
                                Check details <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </p>
                        <hr/>
                    </div>
                </div>
            </div>
            <div v-else>Loading…</div>

            </div><!--end of div with class: fluid-container-->
            <div class="row">
                <div class="col-md-12">
                    {% include 'pager.html' %}
                </div>
            </div>

        </div>
        {% include 'sidebar.html' %}
        <script src="{% static 'js/main.js' %}"></script>
    </div>
{% endblock content %}
