<!-- Pager -->
<ul class="pager">
    <li class="previous">
        {% if streamers.has_previous %}
            <a href="?{{ page_request_var }}={{ streamers.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&larr; Newer</a>
        {% endif %}
    </li>
    <span class="text-center current">
        {% if streamers.number %}
            Page {{ streamers.number }} of {{ streamers.paginator.num_pages }}.
        {% endif %}
    </span>
    <li class="next">
        {% if streamers.has_next %}
            <a href="?{{ page_request_var }}={{ streamers.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Older &rarr;</a>
        {% endif %}
    </li>
</ul>
