{% extends "base.html" %}
{% load video_id %}

{% block head_title %}
    {{ instance.title }} | {{ block.super }}
{% endblock head_title %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <hr/>
            <center>
                <h1>{{ instance.stream.channel.display_name }}</h1>
            </center>
            </br>
            <hr>
            <div class="intrinsic-container intrinsic-container-16x9 col-sm-8" id="{{ name }}"></div>
            <script type="text/javascript">
                var options = {
                    autoplay: false,
                    channel: "{{ name }}",
                };
                var player = new Twitch.Player("{{ name }}", options);
                player.setVolume(0.5);
            </script>
            <div class="intrinsic-container intrinsic-container-16x9 col-sm-4">
                <iframe frameborder="0"
                    scrolling="no"
                    id="chat_embed"
                    src="http://www.twitch.tv/{{ name }}/chat"
                </iframe>
            </div>
            <hr/>
            <!-- Facebook like and share -->
            <center>
                <p>
                    <div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                </p>

                <!-- Facebook comments-->
                <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>
            </center>

        </div><!-- col-lg-8 -->
        {# {% include 'sidebar.html' %}#}
    </div><!-- main row -->
{% endblock content %}
