{% extends "base.html" %}
{% load video_id %}

{% block head_title %}
    {{ instance.title }} | {{ block.super }}
{% endblock head_title %}

{% block content %}
    <div class="row">
        <div class="col-lg-9">
            <hr/>
            {% if instance.profile_banner %}
                <img src="{{ instance.profile_banner }}" class="img-responsive" />
            {% endif %}
            <hr>
            <center>
                <h1>{{ instance.display_name }}</h1>
            </center>
            </br>
            {% if instance.logo %}
                <center>
                    <img src="{{ instance.logo }}" class="img-responsive" />
                </center>
            {% endif %}
            <hr>
            <p>Language: {{ instance.language }}</p>
            <p>Views: {{ instance.views }}</p>
            <p>Followers: {{ instance.followers }}</p>
            <p>
                Mature Content:
                {% if obj.mature %}
                    Yes
                {% else %}
                    No
                {% endif %}
            </p>
            <p>
                Twitch partner:
                {% if obj.partner %}
                    Yes
                {% else %}
                    No
                {% endif %}
            </p>
            <!-- Streamer Videos -->
            <center>
                <h3>Latest Videos:</h3>
            </center>
            {% for obj in r %}
                <h4>{{ obj.game }}</h4>
                <div>
                    <div id="{{ obj|underscore:'_id' }}"></div>
                    <script type="text/javascript">
                        var options = {
                            width: 854,
                            height: 480,
                            autoplay: false,
                            // channel: "{{ instance.name }}",
                            video: "{{ obj|underscore:'_id' }}"
                        };
                        var player = new Twitch.Player("{{ obj|underscore:'_id' }}", options);
                        player.setVolume(0.5);
                    </script>
                </div>

                <hr />
            {% endfor %}

            <hr/>
            <!-- Facebook like and share -->
            <center>
                <p>
                    <div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                </p>

                <!-- Facebook comments-->
                <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>
            </center>

        </div><!-- col-lg-8 -->
        {% include 'sidebar.html' %}
    </div><!-- main row -->
{% endblock content %}
